@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins&family=Roboto&display=swap');
.light {
  --primary-blue: #4440f6;
  --primary-black: #111321;
  --primary-gray: #a8a8a8;
  --primary-white: #ffffff;
  --primary-background: #f4f4f4;
}

.dark {
  --primary-blue: #4440f6;
  --primary-black: #ffffff;
  --primary-gray: #a8a8a8;
  --primary-white: #111321;
  --primary-background: #111321;
}

body {
  min-height: 100vh;
  color: var(--primary-black);
  background-color: var(--primary-background);
  transition:
    color 500ms ease,
    background-color 500ms ease;
  line-height: 1.4;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
